::-webkit-input-placeholder { color: #B2B7C7; }

.search {
  padding: 25px 25px 15px 25px;

  input {
    width: 100%;
    border: none;
    outline: none;
    color: #353A4B;
    margin: 0 1.5%;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
  }
}
